main {
    padding-top: 120px;
    /* Ajusta el valor según necesites */
}

.clock-container {
    position: fixed;
    /* Se mantiene fijo en la pantalla */
    top: 10px;
    /* Ajuste superior */
    right: 20px;
    /* Ajuste derecho */
    font-size: 1.5rem;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.7);
    /* Fondo semitransparente */
    color: white;
    /* Texto blanco */
    padding: 60px 15px;
    border-radius: 8px;
}
body {
    font-family: Arial, sans-serif;

}

.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

label {
    font-weight: bold;
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #218838;
}